.visa-com-banner {
    width: 100%;
    background-color: rgba(81, 156, 255, 1);
    padding: 30px 100px;
    h2 {
        font: normal normal normal 32px/1.1em 'Open Sans',sans-serif;
        color: #ffffff;
    }
}