.visa-admin-layout {
    height: 100%;
    .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }
   
    .admin-page-wrapper {
        background: #fff;
        padding: 24;
        min-height: 280px;
        position: relative;

        .admin-page-mail {
            &__top {
                text-align: right;
                margin-bottom: 0.5rem;
            }
            .table-mail-templates tr td:nth-child(2) {
                width: 70%;
                max-width: 0;
            }
        }
        
        .admin-page-loading {
            width: 100%;
            position: absolute;
            top: calc(50% - 23px);
        }
    }
    
}
    