.visa-admin-layout {
  min-height: 100%;
  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  .admin-page-wrapper {
    background: #f0f2f5;
    padding: 24;
    min-height: 280px;
    position: relative;

    .admin-page-mail {
      background: white;
      &__top {
        text-align: right;
        margin-bottom: 0.5rem;
        background: #f0f2f5;
      }
      .table-mail-templates tr td:nth-child(2) {
        width: 70%;
        max-width: 0;
      }
    }

    .admin-page-ds160 {
      background: white;
      &__top {
        background: #f0f2f5;
      }
    }

    .admin-page-new-kdmid {
      background: white;
      &__top {
        background: #f0f2f5;
      }
    }

    .admin-page-canada {
      background: white;
      &__top {
        background: #f0f2f5;
      }
    }

    .admin-page-users {
      background: white;
      &__top {
        background: #f0f2f5;
      }
    }

    .admin-page-dashboard {
    }

    .admin-page-loading {
      width: 100%;
      position: absolute;
      top: calc(50% - 23px);
    }
  }
}
